/**
 * Theme Name: Mediathèque Ste Jamme
 * Template: generatepress
 * Text Domain: mediastjamme
 * Author: Christine Gunsenheimer
 * Requires PHP: 7.3
 * Requires at least: 5.0
 * Tested up to: 5.6
 * Description: Thème personnalisé pour la médithèque de Ste Jamme sur Sarthe
 * Version: 1.0
 * License: GNU GPL v2
 */

/* Style for the header & navbar */
#site-navigation{
    background-color: #018db0;
}

#site-navigation a, #site-navigation .menu-toggle{
    color: #ffffff;
    line-height: 35px;
}

#site-navigation a:hover, #site-navigation a:focus{
    color: #fec20f;
    background-color: #018db0;
}

#site-navigation li[class*="current-menu-"] > a{
    color: #fec20f;
    background-color: #018db0;
}

/* Style for singles */
.single .grid-container{
    max-width: 100%;
}

.single #content{
    min-height: calc(100vh - 240px);
    padding: 0;
}

.single .single-thumbnail{
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media (min-width: 767px) {
    .single .single-thumbnail{
        height: 100%;
        width: 30%;
        float: left;
    }

    .single .single-content{
        overflow: auto;
        height: 100%;
    }
}

.single-rating{
    width: 30px;
}

.single h1, .single h2, .single h3{
    color: #018db0;
    font-weight: 700;
}

.single .single-content{
    padding: 20px;
}


/* Style for archives */
.archive .grid-container{
    max-width: 100%;
}

.archive .archive-content{
    width: 100%;
}

.archive #content{
    padding: 0;
}

.archive .archive-header{
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    text-align: center;
}

.archive h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

.archive .archive-header p{
    color: #ffffff;
    font-weight: 600;
}

.archive .archive-column{
    background-color: #eeeeee;
    padding: 20px;
}

.archive h2{
    font-weight: 700;
    color: #000000;
}

.archive .archive-terms{
    list-style: none;
    margin: 0 0 3em 1.5em;
}

.archive .archive-terms a{
    font-weight: 700;
    color: #000000;
}

.archive .single-container{
    box-shadow: 0 0 2px 2px #cccccc;
    background-color: #ffffff;
}

.archive .single-container .single-thumbnail{
    height: calc(100vw * 9 / 16);
    background-size: cover;
    background-position: center;
}

.archive .single-content{
    padding: 20px;
}

.archive .single-content h3{
    font-size: 18px;
    color: #525763;
    font-weight: 700;
}

.archive .single-content a{
    color: #018db0;
    text-transform: uppercase;
    font-weight: 600;
}

.archive .pagination{
    text-align: center;
}

@media (min-width: 767px) {
    .archive .archive-header{
        padding: 80px 20px;
    }

    .archive .archive-container{
        max-width: 1200px;
        margin: auto;
        padding: 20px 0;
    }

    .archive .archive-column{
        width: 30%;
        float: right;
        height: 100%;
        padding: 80px 20px;
    }

    .archive .archive-posts{
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .archive .single-container:nth-child(2n){
        margin: 10px 10px 10px 0;
    }

    .archive .single-container:nth-child(2n+1){
        margin: 10px 0 10px 10px ;
    }

    .archive .single-container .single-thumbnail{
        height: 400px;
    }

    .archive .archive-column .single-container{
        width: 100%;
    }

}
